<div class="table" id="red-table">

    <div class="row header">
        <div class="cell">
            Order Number
        </div>
        <div class="cell">
            Items
        </div>
        <div class="cell">
            Order Price
        </div>
        <div class="cell">
            Customer Name
        </div>
        <div class="cell">
            Contact Number
        </div>
        <div class="cell">
            Delivery Time
        </div>
        <div class="cell">
            Confirm?
        </div>
    </div>

    <div class="row">
        <div class="cell">
            1
        </div>
        <div class="cell">
            <ul>
                <li>Chilly Potato x <strong>2</strong></li>
            </ul>
            <ul>
                <li>Maggi x <strong>1</strong></li>
            </ul>
        </div>
        <div class="cell">
            80
        </div>
        <div class="cell">
            Arnav
        </div>
        <div class="cell">
            893210021
        </div>
        <div class="cell">
            8:40 pm
        </div>
        <div class="cell">
            <button onclick="confirmCash(this)">
                Confirm order
            </button>
            <button onclick="cancelOrder(this)">
                Cancel order
            </button>
        </div>

    </div>